<!DOCTYPE html>
<html lang="en">
<head>
  <title>Calculadora</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="CalculadoraInfinita" />
  <meta property="og:type" content="website" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

  
  <div class="container">


    <div class="text-center">
      <h1>Calculadora Infinita</h1>
    </div>


    <div class="calculadora">

      <div class="row">

        <div class="col-sm-12">
          
          <h5>Resultado:</h5>
          <show type="text" class="form-control" id="resultado"><%= dato %></show>
          <h5>Ingrese un comando:</h5>

          <form id="datos-enviados" method ="POST" action="/comandos">
            
            <input type="text" name="cmd" value="<%= dato %>">

          </form>
          
        </div>

      </div>
    
    </div>
      
  </div>
    
</body>
</html>
